@import "tailwindcss";

/* @theme {
    --animate-wiggle: wiggle 1s ease-in-out infinite;
    @keyframes wiggle {
      0%,
      100% {
        transform: rotate(-3deg);
      }
      50% {
        transform: rotate(3deg);
      }
    }
  } */

  @theme {
    --shadow-3xl: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --animate-translate: translate 1s ease-in-out infinite;
    --animate-wiggle: wiggle 1s ease-in-out infinite;
    
    @keyframes translate {
        0%,
        100% {
          transform: translate(-300px);
        }
        50% {
          transform: translate(300px);
        }
      }

      @keyframes wiggle {
        0%,
        100% {
          transform: rotate(-3deg);
        }
        50% {
          transform: rotate(3deg);
        }
      }
  }